@model IEnumerable<NetBlogs.Models.Blog>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>

<div class="container">

	<div class="row">
		<div class="col"><h5>Title</h5></div>
		<div class="col"><h5>Author</h5></div>
		<div class="col"><h5>Date Uploaded</h5></div>
		<div class="col"><h5>Actions</h5></div>
	</div>

	@foreach (var item in Model) {
		<div class="card card-body">
			<div class="row">
				<div class="col">
					@Html.DisplayFor(modelItem => item.Title)
				</div>
				<div class="col">
					@Html.DisplayFor(modelItem => item.Author)
				</div>
				<div class="col">
					@Html.DisplayFor(modelItem => item.Created)
				</div>
				<div class="col">
					
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Read...</a>

					@if (item.Author.Equals("4chrise8@gmail.com"))
					{
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
					}
				</div>
			</div>
		</div>
	}
	
</div>